<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Django</title>
    <style>
        body {
            background-color: aqua;
        }
    </style>
</head>
<body>
   <!-- <h1>Name : {{nm}} Duration : {{du}} Total Seats : {{st}}</h1>  -->
   <!-- Using filter with the help of pipe and making it in uppercase -->
    <h1>Name : {{nm|upper}} Duration : {{du}} Total Seats : {{st}}</h1> 
</body>
</html>